.timr{
    font-size: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    max-width: 100%;
    background-color: #023047;
    padding: 2rem;
    border-radius: 2rem;
}

h1{
    font-family: 'Itim', cursive;
    font-family: 'Tektur', cursive;
    position: relative;
    color: #8ecae6;
}